<!DOCTYPE html>
<html>
<head>
	<title>Diffbot Demo</title>
  <script src="https://cdn.pubnub.com/pubnub-3.15.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://cdn.pubnub.com/sdk/pubnub-angular/pubnub-angular-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="./pubnub.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
</head>
<body>

	<div class="container" ng-app="PubNubAngularApp" ng-controller="MyTextCtrl">

<pre>
NOTE: make sure to update the PubNub keys below with your keys,
and ensure that the text analysis BLOCK is configured properly!
</pre>
  
<h3>MyText Content Analysis</h3>

<input ng-model="toSend" placeholder="type URL here" />
<input type="button" ng-click="publish()" value="Send!" />

<br /><br />

<ul>
  <li ng-repeat="message in messages track by $index">
    <a href="{{message.url}}">{{message.diffbotResponse.title}}</a> by {{message.diffbotResponse.objects[0].author}}
    <br />
    url: <a href="{{message.url}}">{{message.url}}</a>
    <br />
    type: {{message.diffbotResponse.type}}; language: {{message.diffbotResponse.humanLanguage}}
    <br />
    <span style="color:gray" ng-repeat="tag in message.diffbotResponse.objects[0].tags track by $index">{{tag.label}}={{tag.score}};&nbsp;</span>
  </li>
</ul>

</div>



</body>
</html>